
.input{
    background-color: #E9ECEF;
    width: 900px;
    height: 40px
}
.number{
    top: 10px;
    position: relative;
    left: 600px;
    height: 30px;
    width: 100px;
}
.gen{
    width: 900px;
    height: 50px;
    background-color: #138496;
    color: #E9ECEF;
    font-size: medium;
}
#check{
     
        accent-color: blue;
       
    }

    #lab{
        font-size: 20px;
    }
    h2{
        font-size: 40px;
        text-align: center;
    }
    .box{
        background-color: #FFFFFF;
        margin: auto;
        width: 70%;
        border: 10px solid rgb(239, 250, 239);
        padding: 10px;
    }
    .icon{
        background-color: #138496;
        position: relative;
        width: 70px;
        height: 45px;
        bottom: 45px;
        left:92%
        
    
        
    }